<header class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-xs-5 header-logo tele">
				<br>
				<a href="{{ path('app_home') }}"><img src="img/logo tele.png" alt="" class="img-responsive logo tele"></a>
			</div>
			<div class="col-md-7">
				<nav class="navbar navbar-default">
					<div
						class="container-fluid nav-bar">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Barre de navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<a href="">
									<i class="fa fa-facebook"></i>
								</a>
								<a href="">
									<i class="fa fa-instagram"></i>
								</a>
								<a href="">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="">
									<i class="fa fa-skype"></i>
								</a>
								<ul class="rd-navbar-items-list">
									<li>
										<ul class="list-inline-xxs">
											{% if app.user %}
												<li>
													<span>{{ app.user.fullName }}</span>
													<form action="{{ path('app_logout') }}" method="post">
														<button type="submit" class="text-danger" style="font-size:20px;">
															{{ 'Logout' }}
														</button>
													</form>
												</li>
											{% else %}
												<li>
													<a href="{{ path('app_login') }}" class="text-danger" style="font-size:20px;">
														{{ 'Login' }}
													</a>
												</li>
												<li>
													<a href="{{ path('app_register') }}" target="_self" class="text-danger" style="font-size:20px;">
														{{ 'Register' }}
													</a>
												</li>
											{% endif %}
										</ul>
									</li>
								</ul>
								<!--new add-->
								<li>
									<a class="menu active" href="#home">Acceuil</a>
								</li>
								<li>
									<a class="menu" href="#about">Sur nous</a>
								</li>
								<li>
									<a class="menu" href="#service">Services</a>
								</li>
								<li>
									<a class="menu" href="#team">équipe</a>
								</li>
								<li>
									<a class="menu" href="#contact">contact</a>
								</li>
							</ul>
						</div>
						<!-- /navbar-collapse -->
					</div>
					<!-- / .container-fluid -->
				</nav>
			</div>
		</div>
	</div>
</header>
<!-- end of header area -->
