{#{% extends 'base.html.twig' %}#}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<h1>Register</h1>

	{{ form_start(registrationForm) }}

	{{ form_row(registrationForm.firstName) }}
	{{ form_row(registrationForm.lastName) }}
	{{ form_row(registrationForm.ville) }}
	{{ form_row(registrationForm.sexe) }}
	{{ form_row(registrationForm.phone) }}
	{{ form_row(registrationForm.codeINPE) }}
	{{ form_row(registrationForm.specialite) }}
	{{ form_row(registrationForm.email) }}
	{{ form_rest(registrationForm) }}

	<button type="submit" class="btn">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}
